@font-face {
  font-family: "now-thin";
  src: url("../assets/font/now/NowAlt-Thin.otf");
}

@font-face {
  font-family: "now-light";
  src: url("../assets/font/now/NowAlt-Light.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "now-light";
  margin: 0;
  padding: 0;
}

body .site {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

nav {
  min-width: 100%;
  height: 5rem;
  position: fixed;
  background: rgba(255, 255, 255, 0.3);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: background 0.3s ease;
}

nav .logo {
  font-family: "now-thin";
  margin-right: auto;
  display: block;
  width: 40%;
}

nav .logo img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

nav .logo a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  color: white;
  text-decoration: none;
}

nav .logo p {
  min-width: 150%;
  color: black;
}

nav .hamburger {
  width: 40px;
  height: 40px;
  position: relative;
  margin-top: 0.5rem;
  margin-right: 4%;
  z-index: 20;
  cursor: pointer;
}

nav .hamburger::after, nav .hamburger::before {
  content: '';
  width: 40px;
  height: 8px;
  position: absolute;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 0 1px #CC9B9C;
  transition: transform 300ms ease;
}

nav .hamburger::after {
  top: 30px;
}

nav .hamburger .center {
  width: 40px;
  height: 8px;
  position: absolute;
  background-color: #fff;
  top: 15px;
  border-radius: 1rem;
  box-shadow: 0 0 0 1px #CC9B9C;
  transition: transform 300ms ease;
}

nav .cross::after {
  transform: translateY(-15px) rotate(135deg);
}

nav .cross::before {
  transform: translateY(15px) rotate(-135deg);
}

nav .cross .center {
  transform: scale(0);
}

nav .menu {
  position: absolute;
  min-width: 50%;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  transform: translate(0%, 40%);
  background: #CC9B9C;
  justify-content: space-between;
  align-items: center;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 35% 100%);
  transition: transform 0.3s ease;
  z-index: 10;
}

nav .menu a {
  color: white;
  text-decoration: none;
}

nav .menu ul {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;
  list-style-type: none;
  font-size: 2.5rem;
}

nav .menu ul li {
  flex-basis: 50%;
  transform: translate(500%);
  max-height: 3rem;
  position: relative;
}

nav .menu ul li::before {
  content: '';
  width: 700%;
  position: absolute;
  min-height: 6rem;
  background: white;
  animation: in 700ms forwards;
}

nav .menu ul li a {
  position: relative;
  z-index: 20;
  text-decoration: none;
}

@keyframes in {
  from {
    transform: translate(-50%, -25%);
  }
  to {
    transform: translate(-225%, -25%);
  }
}

@keyframes out {
  from {
    transform: translate(0%, -25%);
  }
  to {
    transform: translate(-50%, -25%);
  }
}

nav .menu ul .not-dropdown:hover::before, nav .menu ul .not-dropdown:focus::before {
  animation: out 400ms forwards;
}

nav .menu ul .not-dropdown:hover a, nav .menu ul .not-dropdown:focus a {
  color: black;
  transition: 0.3s ease;
}

nav .menu ul #dropdown-parent {
  padding-bottom: 2rem;
  text-align: center;
}

nav .menu ul #dropdown-parent::before {
  content: '';
  width: 700%;
  position: absolute;
  min-height: 6rem;
  background: white;
  animation: in 700ms forwards;
}

nav .menu ul #dropdown-parent #dropdown {
  width: 100%;
  min-height: fit-content;
  padding: 0;
  display: grid;
  grid-template-rows: 4rem 4rem 4rem 4rem;
  margin: 0;
  transform: scaleY(0);
}

nav .menu ul #dropdown-parent #dropdown li {
  font-size: 1.5rem;
  height: auto;
}

nav .menu ul #dropdown-parent #dropdown li::before {
  content: '';
  width: 700%;
  position: absolute;
  min-height: 3rem;
  background: white;
  animation: in 700ms forwards;
}

nav .menu ul #dropdown-parent #dropdown li a {
  color: white;
}

nav .menu ul #dropdown-parent #dropdown li:hover::before {
  animation: out 400ms forwards;
}

nav .menu ul #dropdown-parent #dropdown li:hover a {
  color: black;
}

nav .menu ul #dropdown-parent:hover a {
  color: black;
  transition: 0.3s ease;
}

nav .menu ul #dropdown-parent:hover #dropdown {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  margin-bottom: 5rem;
  margin-top: 0.5rem;
}

nav .menu ul #dropdown-parent:hover #dropdown .hover-img-drop {
  transform: translateY(0rem);
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

nav .menu ul #dropdown-parent:hover::before {
  animation: out 300ms forwards;
}

nav .menu ul .last-item {
  margin-top: -2rem;
}

nav .menu ul #dropdown-parent:hover ~ .last-item {
  transform: translateX(300%);
  transition: transform 0.3s ease-in-out;
}

nav .menu ul #dropdown-parent:hover .hover-img-drop {
  transform: scale(2);
}

nav .menu li:nth-of-type(1) {
  transform: translateX(0%);
  transition: transform 250ms ease;
}

nav .menu li:nth-of-type(2) {
  transform: translateX(0%);
  transition: transform 250ms ease 150ms;
}

nav .menu li:nth-of-type(3) {
  transform: translateX(0%);
  transition: transform 250ms ease 250ms;
}

nav .menu li:nth-of-type(4) {
  transform: translateX(0%);
  transition: transform 250ms ease 350ms;
}

nav .disabled {
  transform: translate(100%, 40%);
  transition: transform 300ms ease 450ms;
}

nav .disabled ul li:nth-of-type(1) {
  transform: translateX(500%);
  transition: transform 200ms ease;
}

nav .disabled ul li:nth-of-type(2) {
  transform: translateX(500%);
  transition: transform 200ms ease 150ms;
}

nav .disabled ul li:nth-of-type(3) {
  transform: translateX(500%);
  transition: transform 200ms ease 250ms;
}

nav .disabled ul li:nth-of-type(4) {
  transform: translateX(500%);
  transition: transform 200ms ease 350ms;
}

.content::-webkit-scrollbar {
  width: 20px;
}

.content::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #fff;
  z-index: 100;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background-color: #CC9B9C;
}
/*# sourceMappingURL=main.css.map */