@font-face {
    font-family: "now-thin";
    src: url("../assets/font/now/NowAlt-Thin.otf");
}
@font-face {
    font-family: "now-light";
    src: url("../assets/font/now/NowAlt-Light.otf");
}
body{
    font-family: "now-light";
}
nav{
    min-width: calc(100% - 20px);
    height: 5rem;
    position: fixed;
    background: transparent;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: background 0.3s ease;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

    .logo{
    font-family: "now-thin";
        margin-right: auto;
        display: block;
        width: 40%;
        color: white;
        img{
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;    
        }
        a{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 80%;
            color: white;
            text-decoration: none;
        }
        p{
            min-width: 150%;
        }
        
    }
    
    .hamburger{
        width: 40px;
        height: 40px;
        position: relative;
        margin-top: 0.5rem;
        margin-right: 4%;
        z-index: 20;
        cursor: pointer;
        &::after, &::before{
            content: '';
            width: 40px;
            height: 8px;
            position: absolute;
            background-color: #fff;      
            border-radius: 1rem; 
            box-shadow: 0 0 0 1px #CC9B9C;
            transition: transform 300ms ease;
        }
        &::after{
            top: 30px;
        }
        .center{
            width: 40px;
            height: 8px;
            position: absolute;
            background-color: #fff;    
            top: 15px;
            border-radius: 1rem; 
            box-shadow: 0 0 0 1px #CC9B9C;
            transition: transform 300ms ease;
        }

        // &:hover::after, &:focus-visible::after{
        //     transform: translateY(-15px) rotate(135deg);
        // }
        // &:hover::before, &:focus-visible::before{
        //     transform: translateY(15px) rotate(-135deg);
        // }
        // &:hover .center, &:focus-visible .center {
        //     transform: scale(0);
        // }
    }
    .cross{
        &::after{
            transform: translateY(-15px) rotate(135deg);
        }
        &::before{
            transform: translateY(15px) rotate(-135deg);
        }
        & .center{
            transform: scale(0);
        }
    }
    .menu{
        position: absolute;
        min-width:50%;
        min-height: 110vh;
        display: flex;
        flex-direction: column;
        transform: translate(0%, 40%);
        background: #CC9B9C;
        justify-content: space-between;
        align-items: center;
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 35% 100%);
        transition: transform 0.3s ease;
        z-index: 10;
        a{
            color: white;
            text-decoration: none;
        }

        ul{
            margin-left: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            min-height: 80vh;
            list-style-type: none;
            font-size: 2.5rem;

            li{
                flex-basis: 50%; 
                transform: translate(500%);  
                max-height: 3rem;
                .hover-img{
                        width: 10rem;
                        height: 3rem;
                        filter: invert(100%) sepia(100%) saturate(30%) hue-rotate(118deg) brightness(106%) contrast(109%);                   
                        position: absolute;
                        transform: scale(0) translateY(5rem);
                        transition: transform 200ms ease;
                        z-index: 9;
                }
                a{
                    position: relative;
                    z-index: 20;
                    text-decoration: none;
                }
                
                      
                    // &:nth-child(3)::hover{
                    //     ul{
                    //         display: flex;
                    //         height: ;
                    //     }
                    // }                 
            }
            .not-dropdown:hover .hover-img, .not-dropdown:focus .hover-img{
                transform: scale(2);

            }
            .not-dropdown:hover, .not-dropdown:focus{
                a{
                    color: black;
                    transition: 0.3s ease;

                }
            }
            #dropdown-parent{
                padding: 0;
                text-align: center;
                max-height: 3rem;

            
                #dropdown{
                    width: 100%;
                    min-height: fit-content;
                    padding: 0;
                    display: grid;
                    grid-template-rows: 4rem 4rem 4rem 4rem;
                    margin: 0;
                    transform: scaleY(0);
                    li{
                        font-size: 1.5rem;
                        height: auto;
                        a{
                            color: white;
                        }
                        
                        &:nth-child(3):hover, &:nth-child(4):hover{
                            .hover-img{
                                transform: scale(1) translate(-3rem, -0.5rem);
                                width: fit-content;

                            }
                            a{
                                color: black;
                                transition: 0.3s ease;
                            }
                        }
                        &:nth-child(1):hover, &:nth-child(2):hover{
                            .hover-img{                               
                                transform: scale(1) translate(-2rem, -0.5rem);
                            }
                            a{
                                color: black;
                                transition: 0.3s ease;

                            }
                        }
                        
                    }              
                }
                
            }
            #dropdown-parent:hover{
                a{
                    color: black;
                    transition: 0.3s ease;
                }
                #dropdown{
                    animation: growDown 300ms ease-in-out forwards;
                    transform-origin: top center;         
                    margin-bottom: 5rem;       
                    margin-top: 0.5rem;
                    .hover-img-drop{
                        transform: translateY(0rem);
                    }
                }       
                @keyframes growDown {
                    0% {
                        transform: scaleY(0)
                    }
                    80% {
                        transform: scaleY(1.1)
                    }
                    100% {
                        transform: scaleY(1)
                    }
                }
            }
            #dropdown-parent:hover ~ .last-item{
                transform: translateX(300%);
                transition: transform 0.3s ease-in-out;
            }
            #dropdown-parent:hover .hover-img-drop{
                transform: scale(2);
            }
        } 

            //==========================animations===========================================

            li:nth-of-type(1){
                transform: translateX(0%);
                transition: transform 250ms ease;
            }
            li:nth-of-type(2){
                transform: translateX(0%);
                transition: transform 250ms ease 150ms;
            }
            li:nth-of-type(3){
                transform: translateX(0%);
                transition: transform 250ms ease 250ms;
            }
            li:nth-of-type(4){
                transform: translateX(0%);
                transition: transform 250ms ease 350ms;
            }
            
            
        }
        
    
    .disabled{
        transform: translate(100%, 40%);
        transition: transform 300ms ease 700ms;
        ul{
            li:nth-of-type(1){
                transform: translateX(500%);
                transition: transform 250ms ease;
            }
            li:nth-of-type(2){
                transform: translateX(500%);
                transition: transform 250ms ease 150ms;
            }
            li:nth-of-type(3){
                transform: translateX(500%);
                transition: transform 250ms ease 250ms;
            }
            li:nth-of-type(4){
                transform: translateX(500%);
                transition: transform 250ms ease 350ms;
            }
        }
    }

}




.content::-webkit-scrollbar{
    width: 20px;
}
.content::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: #fff;
    z-index: 100;

}
.content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #CC9B9C;
}
















// nav{
//             min-width: 100%;
//             height: 70px;
//             display: flex;
//             align-items: center;
//             position: fixed;
//             background: #CC9B9C;
//             top: 0;
//             left: 0;
//             z-index: 10;
//             transition: transform 0.3s ease-in;

//             &.hidden{
//                 transform: translateY(-70px);
//             }

//             ul{
//                 display: flex;
//                 flex-wrap: wrap;
//                 justify-content: flex-end;
//                 flex-basis: 100%;
//                 margin: 0;
//                 padding: 0;
//                 list-style-type: none;

//                 li{
//                     flex-basis: 8%;
//                     height: 70px;
//                     vertical-align: middle;
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     position: relative;

//                     &::after{
//                         content: '';
//                         position: absolute;
//                         top: 67px;
//                         left: 0;
//                         width: 100%;
//                         height: 3px;
//                         background: #000;
//                         opacity: 0;
//                         transition: 0.3s opacity ease-in-out;
//                     }

//                     &:hover::after{
//                         opacity: 1;
//                     }
                    
//                     a{
//                         text-decoration: none;
//                         color: #000;
//                     }
//                 }
//                 li:nth-of-type(3){
//                     position: relative;
//                     ul{
//                         background: rgba( 255, 255, 255, 0.8);
//                         opacity: 0;
//                         visibility: hidden;
//                         width: 10rem;
//                         position: absolute;
//                         top: 70px;
//                         left: 0;
//                         display: flex;
//                         flex-wrap: wrap;

//                         li{
//                             flex-basis: 100%;
//                             height: 30px;
//                         }
//                     }
//                 &:hover{
//                     ul{
//                         opacity: 1;
//                         visibility: visible;
//                     }
//                 }    

//                 }             
//             }
//         }