nav{
    min-width: 100%;
    height: 5rem;
    position: fixed;
    background: transparent;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .logo{
        margin-right: auto;
        display: flex;
        align-items: center;
        flex-basis: 50%;
        color: white;
        img{
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;    
        }
    }
    .hamburger{
        width: 40px;
        height: 40px;
        position: relative;
        margin-top: 0.5rem;
        margin-right: 4%;
        z-index: 20;
        cursor: pointer;
        &::after, &::before{
            content: '';
            width: 40px;
            height: 8px;
            position: absolute;
            background-color: #fff;      
            border-radius: 1rem; 
            box-shadow: 0 0 0 1px #CC9B9C;
            transition: transform 300ms ease;
        }
        &::after{
            top: 30px;
        }
        .center{
            width: 40px;
            height: 8px;
            position: absolute;
            background-color: #fff;    
            top: 15px;
            border-radius: 1rem; 
            box-shadow: 0 0 0 1px #CC9B9C;
            transition: transform 300ms ease;
        }

        &:hover::after{
            transform: translateY(-15px) rotate(135deg);
        }
        &:hover::before{
            transform: translateY(15px) rotate(-135deg);
        }
        &:hover .center{
            transform: scale(0);
        }
    }
    .cross{
        &::after{
            transform: translateY(-15px) rotate(135deg);
        }
        &::before{
            transform: translateY(15px) rotate(-135deg);
        }
        & .center{
            transform: scale(0);
        }
    }
    .menu{
        position: absolute;
        min-width:50%;
        min-height: 110vh;
        display: flex;
        flex-direction: column;
        transform: translate(0%, 40%);
        background: #CC9B9C;
        justify-content: space-between;
        align-items: center;
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 35% 100%);
        transition: transform 0.3s ease;

        ul{
            margin-left: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            min-height: 80vh;
            list-style-type: none;
            font-size: 2rem;

            li{
                flex-basis: 50%; 
                transform: translate(500%);  
                .hover-img{
                        width: 10rem;
                        height: 3rem;
                        filter: invert(100%) sepia(100%) saturate(30%) hue-rotate(118deg) brightness(106%) contrast(109%);                   
                        position: absolute;
                        transform: scale(0);
                        transition: transform 200ms ease;
                        z-index: 9;
                }
                a{
                    position: relative;
                    z-index: 20;
                    text-decoration: none;
                }
                &:hover .hover-img{
                        transform: scale(2);
                    }
                    &:nth-child(3){
                        ul{
                            display: none;
                        }
                    }                 
            }

            //==========================animations===========================================

            li:nth-of-type(1){
                transform: translateX(0%);
                transition: transform 250ms ease;
            }
            li:nth-of-type(2){
                transform: translateX(0%);
                transition: transform 250ms ease 150ms;
            }
            li:nth-of-type(3){
                transform: translateX(0%);
                transition: transform 250ms ease 250ms;
            }
            li:nth-of-type(4){
                transform: translateX(0%);
                transition: transform 250ms ease 350ms;
            }
            
            
        }
        
    }
    .disabled{
        transform: translate(100%, 40%);
        transition: transform 300ms ease 700ms;
        ul{
            li:nth-of-type(1){
                transform: translateX(500%);
                transition: transform 250ms ease;
            }
            li:nth-of-type(2){
                transform: translateX(500%);
                transition: transform 250ms ease 150ms;
            }
            li:nth-of-type(3){
                transform: translateX(500%);
                transition: transform 250ms ease 250ms;
            }
            li:nth-of-type(4){
                transform: translateX(500%);
                transition: transform 250ms ease 350ms;
            }
        }
    }
}























// nav{
//             min-width: 100%;
//             height: 70px;
//             display: flex;
//             align-items: center;
//             position: fixed;
//             background: #CC9B9C;
//             top: 0;
//             left: 0;
//             z-index: 10;
//             transition: transform 0.3s ease-in;

//             &.hidden{
//                 transform: translateY(-70px);
//             }

//             ul{
//                 display: flex;
//                 flex-wrap: wrap;
//                 justify-content: flex-end;
//                 flex-basis: 100%;
//                 margin: 0;
//                 padding: 0;
//                 list-style-type: none;

//                 li{
//                     flex-basis: 8%;
//                     height: 70px;
//                     vertical-align: middle;
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     position: relative;

//                     &::after{
//                         content: '';
//                         position: absolute;
//                         top: 67px;
//                         left: 0;
//                         width: 100%;
//                         height: 3px;
//                         background: #000;
//                         opacity: 0;
//                         transition: 0.3s opacity ease-in-out;
//                     }

//                     &:hover::after{
//                         opacity: 1;
//                     }
                    
//                     a{
//                         text-decoration: none;
//                         color: #000;
//                     }
//                 }
//                 li:nth-of-type(3){
//                     position: relative;
//                     ul{
//                         background: rgba( 255, 255, 255, 0.8);
//                         opacity: 0;
//                         visibility: hidden;
//                         width: 10rem;
//                         position: absolute;
//                         top: 70px;
//                         left: 0;
//                         display: flex;
//                         flex-wrap: wrap;

//                         li{
//                             flex-basis: 100%;
//                             height: 30px;
//                         }
//                     }
//                 &:hover{
//                     ul{
//                         opacity: 1;
//                         visibility: visible;
//                     }
//                 }    

//                 }             
//             }
//         }