@font-face {
  font-family: "now-thin";
  src: url("../assets/font/now/NowAlt-Thin.otf");
}

@font-face {
  font-family: "now-light";
  src: url("../assets/font/now/NowAlt-Light.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "now-light";
}

nav {
  min-width: calc(100% - 20px);
  height: 5rem;
  position: fixed;
  background: transparent;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

nav .logo {
  font-family: "now-thin";
  margin-right: auto;
  display: block;
  width: 40%;
  color: white;
}

nav .logo img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

nav .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  color: white;
  text-decoration: none;
}

nav .logo p {
  min-width: 150%;
}

nav .hamburger {
  width: 40px;
  height: 40px;
  position: relative;
  margin-top: 0.5rem;
  margin-right: 4%;
  z-index: 20;
  cursor: pointer;
}

nav .hamburger::after, nav .hamburger::before {
  content: '';
  width: 40px;
  height: 8px;
  position: absolute;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0 1px #CC9B9C;
          box-shadow: 0 0 0 1px #CC9B9C;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

nav .hamburger::after {
  top: 30px;
}

nav .hamburger .center {
  width: 40px;
  height: 8px;
  position: absolute;
  background-color: #fff;
  top: 15px;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0 1px #CC9B9C;
          box-shadow: 0 0 0 1px #CC9B9C;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

nav .cross::after {
  -webkit-transform: translateY(-15px) rotate(135deg);
          transform: translateY(-15px) rotate(135deg);
}

nav .cross::before {
  -webkit-transform: translateY(15px) rotate(-135deg);
          transform: translateY(15px) rotate(-135deg);
}

nav .cross .center {
  -webkit-transform: scale(0);
          transform: scale(0);
}

nav .menu {
  position: absolute;
  min-width: 50%;
  min-height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(0%, 40%);
          transform: translate(0%, 40%);
  background: #CC9B9C;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 35% 100%);
          clip-path: polygon(15% 0, 100% 0, 100% 100%, 35% 100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 10;
}

nav .menu a {
  color: white;
  text-decoration: none;
}

nav .menu ul {
  margin-left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  list-style-type: none;
  font-size: 2.5rem;
}

nav .menu ul li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-transform: translate(500%);
          transform: translate(500%);
  max-height: 3rem;
}

nav .menu ul li .hover-img {
  width: 10rem;
  height: 3rem;
  -webkit-filter: invert(100%) sepia(100%) saturate(30%) hue-rotate(118deg) brightness(106%) contrast(109%);
          filter: invert(100%) sepia(100%) saturate(30%) hue-rotate(118deg) brightness(106%) contrast(109%);
  position: absolute;
  -webkit-transform: scale(0) translateY(5rem);
          transform: scale(0) translateY(5rem);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  z-index: 9;
}

nav .menu ul li a {
  position: relative;
  z-index: 20;
  text-decoration: none;
}

nav .menu ul .not-dropdown:hover .hover-img, nav .menu ul .not-dropdown:focus .hover-img {
  -webkit-transform: scale(2);
          transform: scale(2);
}

nav .menu ul .not-dropdown:hover a, nav .menu ul .not-dropdown:focus a {
  color: black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav .menu ul #dropdown-parent {
  padding: 0;
  text-align: center;
  max-height: 3rem;
}

nav .menu ul #dropdown-parent #dropdown {
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4rem 4rem 4rem 4rem;
      grid-template-rows: 4rem 4rem 4rem 4rem;
  margin: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

nav .menu ul #dropdown-parent #dropdown li {
  font-size: 1.5rem;
  height: auto;
}

nav .menu ul #dropdown-parent #dropdown li a {
  color: white;
}

nav .menu ul #dropdown-parent #dropdown li:nth-child(3):hover .hover-img, nav .menu ul #dropdown-parent #dropdown li:nth-child(4):hover .hover-img {
  -webkit-transform: scale(1) translate(-3rem, -0.5rem);
          transform: scale(1) translate(-3rem, -0.5rem);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav .menu ul #dropdown-parent #dropdown li:nth-child(3):hover a, nav .menu ul #dropdown-parent #dropdown li:nth-child(4):hover a {
  color: black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav .menu ul #dropdown-parent #dropdown li:nth-child(1):hover .hover-img, nav .menu ul #dropdown-parent #dropdown li:nth-child(2):hover .hover-img {
  -webkit-transform: scale(1) translate(-2rem, -0.5rem);
          transform: scale(1) translate(-2rem, -0.5rem);
}

nav .menu ul #dropdown-parent #dropdown li:nth-child(1):hover a, nav .menu ul #dropdown-parent #dropdown li:nth-child(2):hover a {
  color: black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav .menu ul #dropdown-parent:hover a {
  color: black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav .menu ul #dropdown-parent:hover #dropdown {
  -webkit-animation: growDown 300ms ease-in-out forwards;
          animation: growDown 300ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  margin-bottom: 5rem;
  margin-top: 0.5rem;
}

nav .menu ul #dropdown-parent:hover #dropdown .hover-img-drop {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

@-webkit-keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

nav .menu ul #dropdown-parent:hover ~ .last-item {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

nav .menu ul #dropdown-parent:hover .hover-img-drop {
  -webkit-transform: scale(2);
          transform: scale(2);
}

nav .menu li:nth-of-type(1) {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

nav .menu li:nth-of-type(2) {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 250ms ease 150ms;
  transition: -webkit-transform 250ms ease 150ms;
  transition: transform 250ms ease 150ms;
  transition: transform 250ms ease 150ms, -webkit-transform 250ms ease 150ms;
}

nav .menu li:nth-of-type(3) {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 250ms ease 250ms;
  transition: -webkit-transform 250ms ease 250ms;
  transition: transform 250ms ease 250ms;
  transition: transform 250ms ease 250ms, -webkit-transform 250ms ease 250ms;
}

nav .menu li:nth-of-type(4) {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 250ms ease 350ms;
  transition: -webkit-transform 250ms ease 350ms;
  transition: transform 250ms ease 350ms;
  transition: transform 250ms ease 350ms, -webkit-transform 250ms ease 350ms;
}

nav .disabled {
  -webkit-transform: translate(100%, 40%);
          transform: translate(100%, 40%);
  -webkit-transition: -webkit-transform 300ms ease 700ms;
  transition: -webkit-transform 300ms ease 700ms;
  transition: transform 300ms ease 700ms;
  transition: transform 300ms ease 700ms, -webkit-transform 300ms ease 700ms;
}

nav .disabled ul li:nth-of-type(1) {
  -webkit-transform: translateX(500%);
          transform: translateX(500%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

nav .disabled ul li:nth-of-type(2) {
  -webkit-transform: translateX(500%);
          transform: translateX(500%);
  -webkit-transition: -webkit-transform 250ms ease 150ms;
  transition: -webkit-transform 250ms ease 150ms;
  transition: transform 250ms ease 150ms;
  transition: transform 250ms ease 150ms, -webkit-transform 250ms ease 150ms;
}

nav .disabled ul li:nth-of-type(3) {
  -webkit-transform: translateX(500%);
          transform: translateX(500%);
  -webkit-transition: -webkit-transform 250ms ease 250ms;
  transition: -webkit-transform 250ms ease 250ms;
  transition: transform 250ms ease 250ms;
  transition: transform 250ms ease 250ms, -webkit-transform 250ms ease 250ms;
}

nav .disabled ul li:nth-of-type(4) {
  -webkit-transform: translateX(500%);
          transform: translateX(500%);
  -webkit-transition: -webkit-transform 250ms ease 350ms;
  transition: -webkit-transform 250ms ease 350ms;
  transition: transform 250ms ease 350ms;
  transition: transform 250ms ease 350ms, -webkit-transform 250ms ease 350ms;
}

.content::-webkit-scrollbar {
  width: 20px;
}

.content::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #fff;
  z-index: 100;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background-color: #CC9B9C;
}
/*# sourceMappingURL=main.css.map */