body {
  overflow-x: hidden;
}

.site {
  height: 100%;
}

.site .cards-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  row-gap: 2rem;
  justify-items: center;
  min-height: 100vh;
  width: 100vw;
  margin-top: 5em;
  overflow: hidden;
}

.site .cards-wrapper .card {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(../../assets/makijazOferta/doInternetu33.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300% 100%;
  transition: background-size 250ms ease-in-out;
}

.site .cards-wrapper .card:nth-of-type(2) {
  background-image: url(../../assets/ofertaBrowBar/card.JPG);
  background-size: 105% 105%;
}

.site .cards-wrapper .card:nth-of-type(2):hover, .site .cards-wrapper .card:nth-of-type(2):focus {
  background-size: 125% 125%;
}

.site .cards-wrapper .card:nth-of-type(3) {
  background-image: url(../../assets/socialMediaOferta/card-social.jpeg);
}

.site .cards-wrapper .card:nth-of-type(4) {
  background-image: url(../../assets/makijazOferta/doInternetu34.jpg);
}

.site .cards-wrapper .card a {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 40%;
  height: 20%;
  width: 80%;
  box-shadow: 0 0 0 0.25em #CC9B9C;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  color: white;
  background: rgba(203, 154, 155, 0.3);
  transition: box-shadow 250ms ease-in-out;
}

.site .cards-wrapper .card a:hover, .site .cards-wrapper .card a:focus {
  box-shadow: 0 0 0em 0em #CC9B9C, inset 0 0 0 1em #cc9b9ca2;
  background: rgba(203, 154, 155, 0.5);
}

.site .cards-wrapper .card img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  transition: scale 250ms ease;
}

.site .cards-wrapper .card:hover, .site .cards-wrapper .card:focus {
  background-size: 350% 125%;
}

.site section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 1.25em;
  text-align: center;
  overflow: hidden;
}

.site section h2, .site section h3 {
  width: 100%;
  transform: translateX(100%);
  position: absolute;
  z-index: 2;
  background: linear-gradient(to right, #000 50%, #fff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site section p {
  transform: translateX(100%);
  margin: 0;
}

.site section article {
  flex-basis: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.site section article h2 {
  margin: 0 0 0 0;
  font-size: 2em;
  height: 10%;
  flex-basis: 100%;
}

.site section article h3 {
  font-size: 1.2em;
  margin: 0 0 0 0;
  height: 10%;
  flex-basis: 100%;
}

.site section .media {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* .img-wrapper{
                flex-basis: 100%;
                min-height: 100%;
                overflow: hidden;
                padding: 0 1em 0 1em;
                
                img{
                    width: auto;
                    height: 100%;
                }          
            }
            */
}

.site section .media img {
  max-width: 50%;
  height: auto;
}

.site section p {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  text-align: center;
}

.site section article:nth-of-type(1) {
  background: #cc9b9c;
  background: linear-gradient(90deg, #cc9b9c 50%, rgba(204, 155, 156, 0) 50%);
}

.site section article:nth-of-type(1) h2 {
  background: linear-gradient(to left, #cc9b9c 50%, #000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site section article:nth-of-type(2) {
  background: #cc9b9c;
  background: linear-gradient(90deg, rgba(204, 155, 156, 0) 50%, #cc9b9c 50%);
}

.site section article:nth-of-type(3) {
  background: #cc9b9c;
  background: linear-gradient(90deg, #cc9b9c 50%, rgba(204, 155, 156, 0) 50%);
}

.site section article:nth-of-type(3) h3 {
  background: linear-gradient(to left, #cc9b9c 50%, #000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site section article:nth-of-type(4) {
  background: #cc9b9c;
  background: linear-gradient(90deg, rgba(204, 155, 156, 0) 50%, #cc9b9c 50%);
}

.site section article:nth-of-type(5) {
  background: #cc9b9c;
  background: linear-gradient(90deg, #cc9b9c 50%, rgba(204, 155, 156, 0) 50%);
}

.site section article:nth-of-type(5) h3 {
  background: linear-gradient(to left, #cc9b9c 50%, #000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site section article:nth-of-type(6) {
  background: #cc9b9c;
  background: linear-gradient(90deg, rgba(204, 155, 156, 0) 50%, #cc9b9c 50%);
}

.site section article:nth-of-type(6) h2 {
  background: linear-gradient(to left, #cc9b9c 50%, #000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site section article:nth-of-type(6) .media video {
  width: 50%;
  min-height: 100%;
}

.site section article:nth-of-type(7) {
  background: #cc9b9c;
  background: linear-gradient(90deg, #cc9b9c 50%, rgba(204, 155, 156, 0) 50%);
}

.site section article:nth-of-type(7) .media video {
  width: 50%;
  min-height: 100%;
}

.site #brow-bar article:first-of-type {
  background: #cc9b9c;
  background: linear-gradient(90deg, rgba(204, 155, 156, 0) 50%, #cc9b9c 50%);
}

.site #brow-bar article:first-of-type h2 {
  background: linear-gradient(to right, #000 50%, #fff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site #brow-bar article:first-of-type h3 {
  margin-top: 3rem;
}

.site #brow-bar article:nth-of-type(2) {
  background: linear-gradient(90deg, #cc9b9c 50%, rgba(204, 155, 156, 0) 50%);
}

.site #brow-bar article:nth-of-type(3) {
  background: linear-gradient(90deg, rgba(204, 155, 156, 0) 50%, #cc9b9c 50%);
}

.site #brow-bar article:last-of-type {
  background: linear-gradient(90deg, #cc9b9c 50%, rgba(204, 155, 156, 0) 50%);
}

.site .slider-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 2em;
  background: #CC9B9C;
  background: linear-gradient(90deg, rgba(204, 155, 156, 0) 50%, #cc9b9c 50%);
}

.site .slider-section h2 {
  align-self: flex-start;
}

.site .slider-section .slider {
  position: absolute;
  width: 30vw;
  width: 500px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  margin-top: 1em;
  box-shadow: 0 0 0px 30px #fff;
  border-radius: 1em;
}

.site .slider-section .slider .slides {
  width: 500px;
  height: auto;
  display: flex;
}

.site .slider-section .slider .slides .slide {
  min-width: 100%;
}

.site .slider-section .slider .slides img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.site .slider-section .prev {
  position: absolute;
  left: 25%;
  top: 90%;
}

.site .slider-section .next {
  position: absolute;
  left: 75%;
  top: 90%;
}
/*# sourceMappingURL=offer.css.map */