
:root{
    --rotation: 0deg;
}
body{
    margin: 0;
    padding: 0;
    background-color: #CC9B9C;
    overflow: hidden;
    .content{
        min-width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        
        .wrapper-video{
            flex-basis: 100%;
            height: 100vh;
            overflow: hidden;
            position: relative;

            // .video-cover{
            //     position: absolute;
            //     font-size: 70px;
            //     top: 0;
            //     left: 0;                
            //     z-index: 20;
            //     min-width: 100%;
            //     height: 100vh;
            //     background: rgb(255,255,255);
            //     background: linear-gradient(var(--rotation), rgb(235, 18, 18) 0%, rgb(42, 57, 185) 89%);
            //     display: flex;
            //     flex-wrap: wrap;
            //     justify-content: center;
            //     align-items: center;
            //     p{
            //         flex-basis: 100%;
            //         height: 3rem;
            //         text-align: center;
            //         transform: translateY(100%);
            //         animation: fade-in 1000ms forwards;
            //     }
            //     @keyframes fade-in {
            //         from{
            //             transform: translateY(-10rem);
            //             opacity: 0;
            //         }
            //         to{
            //             transform: translateY(0rem);
            //             opacity: 1;
            //         }
            //     }
            //     #btn-start{
            //         width: 10rem;
            //         height: 3rem;
            //         background: #fff;
            //         border-radius: 1rem;
            //         border: none;
            //         cursor: pointer;
            //         transition: box-shadow 0.3s ease-in-out;
            //         animation: fade-in 500ms forwards;


            //         &:hover{
            //             box-shadow: 
            //             0 0 0 0.25rem #000,
            //             0 0 0 0.5rem blue,
            //             0 0 0 0.75rem violet;
            //         }
            //     }
            // }
            

            video {
                height: 100%;
                width: 177.77777778vh; /* 100 * 16 / 9 */
                min-width: 100%;
                min-height: 56.25vw; /* 100 * 9 / 16 */
                object-fit: cover;
            }

            #welcome-p{
                position: absolute;
                transform: translate(50%, 50%);
                z-index: 10;
            }
        }
        
        article:first-of-type{
            flex-basis: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            overflow: hidden;
            
    
            .wrapper-img{
                flex-basis: 50%;
                height: 100vh;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img{
                    opacity: 0;
                    width: 100%;
                    transition: opacity, transform 0.3s ease-in-out;
                }
                .img-fade{
                    opacity: 1;
                }
                
            }
            img{
                transform: translateY(20%) scale(1.5);
            }
            .wrapper-text{
                flex-basis: 50%;
                height: 100vh;
                margin: 0;
                padding: 0;
                background: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                
                p{
                    font-size: 40px;
                    padding: 10%;
                    transform: translateX(100%);
                    margin: 0;
                }
                h2{
                    margin-top: 10rem;
                    margin-bottom: 0;
                    font-size: 40px;
                    transform: translateX(100%);
                }
                
            }
            
        }
        article:nth-of-type(2){
            height: 100vh;
            min-width: 100%;
            background: #fff;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50vh 50vh;

            .portfolio-image{
                overflow: hidden;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    transition: transform 0.3s ease;
                }
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
        }

    }
    }


